In [7]:
import pandas as pd
import requests
import json

In [8]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import config

In [9]:
# Connecting our postgresSQL database with our notebook
# Please make sure to update your postgres credential
engine = create_engine(f'postgresql://postgres:postgres@localhost:5433/caliaqi_db')
connection = engine.connect()

In [10]:
# Import Coordinate Data
coordinate_data1 = "coordinate_data.csv"

coordinate_df = pd.read_csv(coordinate_data1,index_col=0)
coordinate_df.head()

            city        lat         lng
0    Los Angeles  34.053691 -118.242766
1      San Diego  32.717420 -117.162773
2       San Jose  37.336191 -121.890583
3  San Francisco  37.779026 -122.419906
4         Fresno  36.729529 -119.708861

In [11]:
coordinate_df.columns

Index(['city', 'lat', 'lng'], dtype='object')

In [12]:
# Creating Class and table
class Coordinates(Base):
  __tablename__ = "coordinates"
  city = Column(String, primary_key=True)
  lat = Column(Float)
  lng = Column(Float)

In [13]:
Base.metadata.tables

immutabledict({'coordinates': Table('coordinates', MetaData(bind=None), Column('city', String(), table=<coordinates>, primary_key=True, nullable=False), Column('lat', Float(), table=<coordinates>), Column('lng', Float(), table=<coordinates>), schema=None)})

In [14]:
# This is where we create our tables in the database
Base.metadata.create_all(engine)

In [15]:
engine.table_names()

['coordinates']

In [16]:
# Push data to SQL
coordinate_df.to_sql(name='coordinates', con=engine, if_exists='replace', index=False)

In [17]:
# Read the Merged Database in Pandas
pd.read_sql_query('''SELECT * FROM coordinates;''', engine)

                   city        lat         lng
0           Los Angeles  34.053691 -118.242766
1             San Diego  32.717420 -117.162773
2              San Jose  37.336191 -121.890583
3         San Francisco  37.779026 -122.419906
4                Fresno  36.729529 -119.708861
...                 ...        ...         ...
1485  Sugarloaf Village  35.825792 -118.635443
1486       Pearsonville  35.816716 -117.875045
1487            Cartago  36.316043 -118.025758
1488     Strawberry CDP  38.797593 -120.140789
1489          Poso Park  35.810784 -118.634810

[1490 rows x 3 columns]